body {background-color: #DED2C1;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0 100%), url("../imagenes/fondo.png");
  background-size: cover ;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  margin: 0;
  font-family: sans-serif;
  }
.susana { display:flex;
  justify-content: center;
  align-content: center;
}
#title { font-style: italic;
   font-size: 60px ;
   text-align: center ; color: BLACK  ;
   }
.subtitle { background-color: #F2B24F;
  font-style: oblique;
  font-size: 32px ;
   color: #FFFFFF;
   text-decoration: underline;
   text-align: left;
 }
.imagen { width: 600px  ;
height: 400px;
 }
.video{ width: 310px;
height: 250px;
}

.youtube { background-color:#F60101;
  font-style: oblique;
  font-size: 32px ;
   color: #FFFFFF;
   text-decoration: underline;
   text-align: left;  }
