body {background-color: #DED2C1;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0 100%), url(./imagenes/svbb.png);
  background-size: cover ;
  background-repeat: no-repeat;
  background-position: center;
  }
#title { font-style: italic;
   font-size: 60px ;
   text-align: center; color:
}
.subtitle { background-color: #F2B24F;
  font-style: oblique;
  font-size: 32px ;
   color: #FFFFFF;
   text-decoration: underline;
   text-align: left;
 }
.imagen { width: 600px  ;
height: 400px;
 }
.video{ width: 600px;
height: 400px;
}
.youtube { background-color:#F60101;
  font-style: oblique;
  font-size: 32px ;
   color: #FFFFFF;
   text-decoration: underline;
   text-align: left;  }
